*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

html,body{
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', serif
}

/*COMMON*/
:root{
    --primary: #FFFCF4;
    --secondary: #171100;
    --tertiary: #adaba6;
    --four: #FFB900;
    --color-primary: #FFB900;
}
.content{
    margin: 0 135px ;
}

a{
    text-decoration: none;
}

.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.btn{
    display: inline-block;
    width: 144px;
    height: 50px;
    border-radius: 24.5px;
    background: var(--secondary);
}
/*HEADER*/
#header{
    height: 100vh;
    background-color: var(--primary);
}
    /*Nav*/
.nav{
    width: 100%;
    padding-top: 36px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: sticky;
    z-index: 1;
}

.nav .item2{
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap:70px
}

.nav .list{
    right: 70px;
    display: flex;
    flex-wrap: nowrap;
    gap: 42px;
    align-items: center;
    justify-content: flex-end;
}

.nav .item2 >a{
    color: #FFF;
    justify-content: center;
    display: flex;
    align-items: center;

}

.nav a strong{
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height:1.75; /* 175% */
}
    /*Hero*/
.hero{
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: var(--tertiary);
}
.hero .item1{
    width:  50%;

}
.hero .item1 > img{
    width: 470px;
    height: 685px;
    border-radius: 10px;
}
.hero .item2{
    width: 50%;
    padding-left:60px;
    padding-top:64px;
}

.hero .item2 .title{
    color: #171100;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height:1.17; /* 117.241% */
    letter-spacing: -1.16px;
    margin-bottom: 22px;
}

.hero .item2 .desc, .hero .item2 .desc2{
    color: #5F5B53;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
    margin-bottom: 38px;
}

.hero .item2 .action{
    display: flex;
    gap:30px;
    margin-bottom: 65px;
}

.hero .action .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--four);
}

.hero .action .btn > strong{
    color: #FFF;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}
.hero .action .btn-play{
    min-width: 10%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap:16px;
}
.hero .action .play_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 50%;
}